Repository home-assistant/android, pull requests merged in 2023-10, with the labels that each got.

#3906 Switch to Wear Device specific preview
  gradle/libs.versions.toml
  wear/build.gradle.kts
  wear/src/main/java/io/homeassistant/companion/android/complications/views/ComplicationConfigMainView.kt
  wear/src/main/java/io/homeassistant/companion/android/conversation/views/ConversationView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/DetailsPanelView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/EntityListView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/EntityUi.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/RefreshIntervalPickerView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SelectCameraTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SelectShortcutsTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SensorManagerUi.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SensorUi.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SensorsView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SetShortcutsTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SettingsView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/TemplateTileSettingsView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/TimeText.kt
  wear/src/main/java/io/homeassistant/companion/android/onboarding/phoneinstall/PhoneInstallView.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3903 Update gradle to 8.3
  gradle/wrapper/gradle-wrapper.properties
Labels: cla-signed, Hacktoberfest

#3905 Add NFC state sensor
  app/src/main/java/io/homeassistant/companion/android/HomeAssistantApplication.kt
  app/src/main/java/io/homeassistant/companion/android/sensors/SensorReceiver.kt
  common/src/main/java/io/homeassistant/companion/android/common/sensors/NfcSensorManager.kt
  common/src/main/res/values/strings.xml
  wear/src/main/java/io/homeassistant/companion/android/HomeAssistantApplication.kt
  wear/src/main/java/io/homeassistant/companion/android/sensors/SensorReceiver.kt
Labels: cla-signed, Hacktoberfest

#3904 Begin migrating Wear OS components to Material 3
  gradle/libs.versions.toml
  wear/build.gradle.kts
  wear/src/main/java/io/homeassistant/companion/android/complications/views/ComplicationConfigMainView.kt
  wear/src/main/java/io/homeassistant/companion/android/conversation/views/ConversationView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/DetailsPanelView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/EntityListView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/EntityUi.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/MainView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/RefreshIntervalPickerView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SelectCameraTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SelectShortcutsTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SensorUi.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SensorsView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SetCameraTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SetFavoriteView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SetShortcutsTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SettingsView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/TemplateTileSettingsView.kt
  wear/src/main/java/io/homeassistant/companion/android/onboarding/phoneinstall/PhoneInstallView.kt
  wear/src/main/java/io/homeassistant/companion/android/theme/Color.kt
  wear/src/main/java/io/homeassistant/companion/android/theme/Theme.kt
  wear/src/main/java/io/homeassistant/companion/android/util/WearToggleChip.kt
  wear/src/main/java/io/homeassistant/companion/android/views/ChooseEntityView.kt
  wear/src/main/java/io/homeassistant/companion/android/views/ExpandableListHeader.kt
  wear/src/main/java/io/homeassistant/companion/android/views/ListHeader.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3909 Update manual onboarding screens to prevent the button from overlapping elements
  wear/src/main/java/io/homeassistant/companion/android/onboarding/integration/MobileAppIntegrationActivity.kt
  wear/src/main/java/io/homeassistant/companion/android/onboarding/manual/ManualSetupActivity.kt
  wear/src/main/java/io/homeassistant/companion/android/util/OnboardingPadding.kt
  wear/src/main/res/layout/activity_integration.xml
  wear/src/main/res/layout/activity_manual_setup.xml
Labels: cla-signed, Wear OS, Hacktoberfest

#3917 Update `Chip` and `ToggleChip` to `Button` and `ToggleButton` except for `WearToggleChip`
  gradle/libs.versions.toml
  wear/src/main/java/io/homeassistant/companion/android/complications/views/ComplicationConfigMainView.kt
  wear/src/main/java/io/homeassistant/companion/android/conversation/views/ConversationView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/EntityListView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/EntityUi.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/MainView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SelectCameraTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SelectShortcutsTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SensorUi.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SensorsView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SetCameraTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SetFavoriteView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SetShortcutsTileView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SettingsView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/TemplateTileSettingsView.kt
  wear/src/main/java/io/homeassistant/companion/android/onboarding/phoneinstall/PhoneInstallView.kt
  wear/src/main/java/io/homeassistant/companion/android/theme/Color.kt
  wear/src/main/java/io/homeassistant/companion/android/util/ToggleButtonControls.kt
  wear/src/main/java/io/homeassistant/companion/android/views/ChooseEntityView.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3919 Fix Picker rotary input on some devices and update design
  wear/src/main/java/io/homeassistant/companion/android/home/views/RefreshIntervalPickerView.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3921 Shorten some settings strings
  common/src/main/res/values/strings.xml
  wear/src/main/java/io/homeassistant/companion/android/home/views/SettingsView.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3920 Fix detail pane after material 3 migration, add additional previews
  wear/src/main/java/io/homeassistant/companion/android/home/views/DetailsPanelView.kt
  wear/src/main/java/io/homeassistant/companion/android/theme/Color.kt
  wear/src/main/java/io/homeassistant/companion/android/util/PreviewData.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3922 Change log week of 10/6
  app/src/main/res/xml/changelog_master.xml
Labels: cla-signed, Hacktoberfest

#3923 Update entity button with toggle styling to match M3 components
  wear/src/main/java/io/homeassistant/companion/android/home/views/EntityUi.kt
  wear/src/main/java/io/homeassistant/companion/android/util/PreviewData.kt
  wear/src/main/java/io/homeassistant/companion/android/util/WearToggleChip.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3918 Fix icon button sizes
  wear/src/main/java/io/homeassistant/companion/android/complications/views/ComplicationConfigMainView.kt
  wear/src/main/java/io/homeassistant/companion/android/conversation/views/ConversationView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/RefreshIntervalPickerView.kt
  wear/src/main/java/io/homeassistant/companion/android/home/views/SetShortcutsTileView.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3930 Prevent notification attachments failing due to spaces ( ) in url
  app/src/main/java/io/homeassistant/companion/android/notifications/MessagingManager.kt
Labels: cla-signed, Hacktoberfest

#3787 Bugfix/crash web view
  app/src/main/java/io/homeassistant/companion/android/webview/WebViewActivity.kt
Labels: cla-signed

#3937 Add Harman template host to car service allowlist
  app/src/main/res/values/arrays.xml
Labels: cla-signed, Hacktoberfest

#3939 Update change log week of 10/13
  app/src/main/res/xml/changelog_master.xml
Labels: cla-signed, Hacktoberfest

#3954 Improve camera tile add/remove event handling
  wear/src/main/java/io/homeassistant/companion/android/tiles/CameraTile.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3956 Add clear_notification support to Wear OS
  app/src/main/java/io/homeassistant/companion/android/notifications/MessagingManager.kt
  common/src/main/java/io/homeassistant/companion/android/common/notifications/NotificationFunctions.kt
  wear/src/main/java/io/homeassistant/companion/android/notifications/MessagingManager.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3959 Show sensor state in secondary label in Wear OS sensor UI
  wear/src/main/java/io/homeassistant/companion/android/home/views/SensorUi.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3960 Update launcher icon, Play Store feature graphic
  app/src/debug/res/mipmap-hdpi/ic_launcher.png
  app/src/debug/res/mipmap-hdpi/ic_launcher.webp
  app/src/debug/res/mipmap-hdpi/ic_launcher_round.png
  app/src/debug/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/debug/res/mipmap-mdpi/ic_launcher.png
  app/src/debug/res/mipmap-mdpi/ic_launcher.webp
  app/src/debug/res/mipmap-mdpi/ic_launcher_round.png
  app/src/debug/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/debug/res/mipmap-xhdpi/ic_launcher.png
  app/src/debug/res/mipmap-xhdpi/ic_launcher.webp
  app/src/debug/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/debug/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/debug/res/mipmap-xxhdpi/ic_launcher.png
  app/src/debug/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/debug/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/debug/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/debug/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/debug/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/debug/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/src/debug/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/drawable-v26/launch_screen_background.xml
  app/src/main/res/drawable/app_icon.xml
  app/src/main/res/drawable/app_icon_round.xml
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/drawable/ic_launcher_foreground_round.xml
  app/src/main/res/drawable/ic_launcher_monochrome.xml
  app/src/main/res/drawable/ic_launcher_monochrome_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/images/icon.png
  wear/src/main/java/io/homeassistant/companion/android/onboarding/phoneinstall/PhoneInstallView.kt
  wear/src/main/res/drawable/app_icon.xml
  wear/src/main/res/drawable/ic_launcher_foreground.xml
  wear/src/main/res/drawable/ic_launcher_foreground_round.xml
  wear/src/main/res/drawable/launcher_icon_round.xml
Labels: cla-signed, Hacktoberfest

#3962 Bump okhttp and merge deps.
  gradle/libs.versions.toml
Labels: cla-signed, Hacktoberfest

#3963 Update change log week of 10/20
  app/src/main/res/xml/changelog_master.xml
Labels: cla-signed, Hacktoberfest

#3966 Update Jetpack/Google dependencies (Oct 2023)
  common/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: cla-signed, Hacktoberfest

#3970 Use deprecated wifi method in case WifiInfo is null
  common/src/main/java/io/homeassistant/companion/android/common/sensors/NetworkSensorManager.kt
Labels: cla-signed, Hacktoberfest

#3974 Update shortcut tile add/remove + destroy handling
  wear/src/main/java/io/homeassistant/companion/android/tiles/ShortcutsTile.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3975 Update tiles logged out state to prevent cut off overflow, shortcuts tile label
  common/src/main/res/values/strings.xml
  wear/src/main/java/io/homeassistant/companion/android/tiles/TileViews.kt
Labels: cla-signed, Wear OS, Hacktoberfest

#3977 Always send sensor registration device class + entity category to prevent errors due to old registration
  common/src/main/java/io/homeassistant/companion/android/common/data/integration/impl/IntegrationRepositoryImpl.kt
  common/src/main/java/io/homeassistant/companion/android/common/data/integration/impl/entities/SensorRequest.kt
Labels: cla-signed, Hacktoberfest

#3978 Update change log week of 10/27
  app/src/main/res/xml/changelog_master.xml
Labels: cla-signed, Hacktoberfest
